.in{
    background-color: #fff;
    width: 45%;
    border-right: #f9f9f9 solid 5px ;
}
.line{
    text-decoration: line-through;
    color: rgb(128, 128, 128);
}
.boxy{
    background-color: #fff;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.boxy input{
    height: 40px;
    width: 600px;
    margin-left: 40px;
    background-color: #f9f9f9;
    border: 0;
}
.page{
    height:120%;
    width: 80%;
    border-radius: 5px;
    display: flex;
    justify-content:space-between;
    padding: 10PX;
    margin-bottom: 8px;
}
.inner{
    display: flex;
    width: 20%;
    justify-content: space-between;
}
.content{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.page button{
    background-color: transparent;
    border: 0;
    height: 20px;
}
.boxy img{
    height: 20px;
}
.boxy button{
    border: 0;
    background-color: transparent;
    position: relative;
    right: 70px;
}
.page:hover{
    background-color: #f9f9f9;
}